@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');

* {
    font-family: 'Alegreya', serif;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --bg-color: #186049;
    --text-color: #fefefe;
    --cartnoti-color:#741717;
    
    --pro-color: #AD8558;
    --protext-color: #eddfca;

    --ft-color: #0a291f;
    --noti-color: #red;
    --nav-color: #bebebe;
    --navtext-color: #0a291f;

    /* dark mode  */
    --bg-color-dark: #113328;
    --text-color-dark: #969494;
    --cartnoti-color-dark:#440f0f;
    
    --pro-color-dark: #66543f;
    --protext-color-dark: #ebb86b;

    --ft-color-dark: #000000;
    --noti-color-dark: #maroon;
    --nav-color-dark: #525252;
    --navtext-color-dark: #194134;
}

a{
    color: var(--text-color);
    text-decoration: none;
}



main{
    max-width: 1280px;
    margin: auto;
    margin-top: 70px;
    line-height: 25px;
}
#introduction{
    width: 90%;
    margin: auto;
}
#introduction h3{
    margin-bottom: 30px;
}
#introduction p{
    padding-top: 20px;
    text-align: justify;
}
hr{
    margin-top: 40px;
    margin-bottom: 40px;
}
#goal-vision{
    display: flex;
    width: 80%;
    margin: auto;
    height: 22vw;
    color: white;
    
}
#goal-vision #goal{
    background: url('web_pic/ta_alsyn_haraa.JPG') no-repeat center /cover;
    float: left;
    width: 44%;
    border-radius: 25px;
    margin-left: 20px;
}
#goal-vision #vision{
    background: url('web_pic/ta_zorilgo.jpg') no-repeat center /cover;
    float: right;
    width: 44%;
    border-radius: 25px;
    margin-left: 8vw;
}
#goal p,h3{
    padding: 0px 20px;
    padding-top: 45px;
    text-align: justify;
    
}
#vision p,h3{
    padding: 0px 20px;
    padding-top: 45px;
    text-align: justify;
}
#goal-vision article:hover{
    font-size: 18px;
    box-shadow: 5px 5px rgb(214, 206, 206);
}
#Valuables {
    width: 45%;
    margin: auto;
}
#Valuables h3{
    text-align: center;
    margin-bottom: 40px;
    margin-top: -40px;
}
#val-image img{
    width: 100%;
    height: 100%;
}
#salbaruud{
    margin: auto;
    width: 90%;
}
#salbar-figure img{
    width: 100%;
    height: 100%;
}
#salbaruud h3{
    text-align: center;
    margin-bottom: 40px;
}
.h3-font{
    font-size: 24px;
    text-align: center;
}




@media (prefers-color-scheme: dark) {
    body{
        background-color: #9b9a9a;
        & hr{border-color: var(--nav-color-dark);}
    }
    a{color: var(--text-color-dark);}
    img{filter: brightness(65%);} 
    #goal-vision #goal{
        background: url('web_pic/ta_alsyn_haraa.JPG') no-repeat center /cover;
        filter: brightness(50%);
    }
    #goal-vision #vision{
        background: url('web_pic/ta_zorilgo.jpg') no-repeat center /cover;
        filter: brightness(50%);
    }
}



