@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');

* {
    font-family: 'Alegreya', serif;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --bg-color: #186049;
    --text-color: #fefefe;
    
    --pro-color: #AD8558;
    --protext-color: #eddfca;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

header {
    position: fixed;
    background-color: var(--bg-color, #186049);
    width: 100%;
    /* height: 60px; */
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 12%;
    transition: all .50s ease;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 300;
    transition: all .50s ease;
}

.location {
    display: flex;
    align-items: center;
}

.location img{
    color: var(--text-color);
    font-size: 1.2rem;
    margin-right: 10px;
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}



main{
    max-width: 1280px;
    margin: auto;
    margin-top: 70px;
    line-height: 25px;

}
#introduction{
    width: 90%;
    margin: auto;
}
#introduction h3{
    margin-bottom: 30px;
}
#introduction p{
    padding-top: 20px;
    text-align: justify;
}
hr{
    margin-top: 40px;
    margin-bottom: 40px;
}
#goal-vision{
    display: flex;
    width: 80%;
    margin: auto;
    height: 22vw;
    color: white;
    
}
#goal-vision #goal{
    background: url('web_pic/ta_alsyn_haraa.JPG') no-repeat center /cover;
    float: left;
    width: 44%;
    border-radius: 25px;
    margin-left: 20px;
}
#goal-vision #vision{
    background: url('web_pic/ta_zorilgo.jpg') no-repeat center /cover;
    float: right;
    width: 44%;
    border-radius: 25px;
    margin-left: 8vw;
}
#goal p,h3{
    padding: 0px 20px;
    padding-top: 45px;
    text-align: justify;
    
}
#vision p,h3{
    padding: 0px 20px;
    padding-top: 45px;
    text-align: justify;
}
#goal-vision article:hover{
    font-size: 18px;
    box-shadow: 5px 5px rgb(214, 206, 206);
}
#Valuables {
    width: 45%;
    margin: auto;
}
#Valuables h3{
    text-align: center;
    margin-bottom: 40px;
    margin-top: -40px;
}
#val-image img{
    width: 100%;
    height: 100%;
}
#salbaruud{
    margin: auto;
    width: 90%;
}
#salbar-figure img{
    width: 100%;
    height: 100%;
}
#salbaruud h3{
    text-align: center;
    margin-bottom: 40px;
}
.h3-font{
    font-size: 24px;
    text-align: center;
}


/* footer*/
footer{
    background-color: var(--bg-color);
    color: white;
    overflow: auto;
}
footer hr{
    width: 94%;
    margin: auto;
}
.social_address{
    display: flex;
}
#social_feedback{
    width: 50%;
    display: flex;
    margin: auto;
}
#socials{
    display: flex;
}
#socials li{
    margin-left: 30px;
    margin: 20px 30px;
    padding-top: 12px;
    position: relative;

}
#socials li a:hover{
    padding-top: 12px;
    color: var(--pro-color);
}
#socials li a:hover:after{
    width: 100%;
}

#feedback {
    position: relative;
    letter-spacing: o.5px;
}
#feedback a:hover{
    color:var(--pro-color);
}
a:after{
    content: "";
    background-color: var(--pro-color);
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -12px;
    transition: 0.3s;
}
#feedback a:hover::after{
    width: 100%;
}
#socials li a svg{
    width: 32px;
    height: 32px;

}
#feedback {
    margin: auto;
    display: flex;
    justify-content: space-around;
}
#feedback a{
    margin: 0px 35px;
    position: relative;
}
.address{
    display: flex;
}
.address #adds{
    width: 50%;
    margin: 20px 70px;
}
#adds ul li{
    padding-top: 12px;

}
#adds ul li:hover{
    padding-top: 12px;
    color: var(--pro-color);

}
#adds ul li svg{
    margin-top: 5px;
    margin-right: 10px;

}

.address p{
    font-size: 14px;

    margin: auto;
}
#text{
    margin-right: 70px;
}
.icons{
    display: flex;
}

.icons p{
    padding-right: 155px
 }



