@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');

* {
    font-family: 'Alegreya', serif;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    color: var(--text-color);
    text-decoration: none;
}

main {
    max-width: 1280px;
    margin: auto;
    margin-top: 70px;
    line-height: 25px;
}

#introduction {
    width: 90%;
    margin: auto;
}

#introduction h3 {margin-bottom: 30px;}

#introduction p {
    padding-top: 20px;
    text-align: justify;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

& h3 {
    margin: 3rem;
    font-size: 20px;
}
#goal-vision {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    height: 20vh;
    text-align: center;
    /* align-items: center; */
    justify-content: space-evenly;
    & #goal {
        background: url('web_pic/ta_alsyn_haraa.JPG') no-repeat center /cover;
        /* float: left; */
        width: 30vw;
        border-radius: 25px;
        filter: brightness(75%);
        color: var(--text-color);
    }

    & #vision{
        background: url('web_pic/ta_zorilgo.jpg') no-repeat center /cover;
        /* float: right; */
        width: 30vw;
        border-radius: 25px;
        filter: brightness(75%);
        color: var(--text-color);
    }
}

#Valuables {
    width: 50vw;
    height: auto;
    margin: auto;
}

#val-image img {
    width: 100%;
    height: 100%;
}

#salbaruud {
    margin: auto;
    width: 90%;
}

#salbar-figure img {
    width: 100%;
    height: 100%;
}

#salbaruud h3 {
    text-align: center;
    margin-bottom: 65px;
}

.h3-font {
    font-size: 24px;
    text-align: center;
}

hr{position: relative;}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #9b9a9a;

        & hr {
            border-color: var(--nav-color-dark);
        }
    }

    a {
        color: var(--text-color-dark);
    }

    img {
        filter: brightness(65%);
    }

    #goal-vision #goal {
        background: url('web_pic/ta_alsyn_haraa.JPG') no-repeat center /cover;
        filter: brightness(50%);
    }

    #goal-vision #vision {
        background: url('web_pic/ta_zorilgo.jpg') no-repeat center /cover;
        filter: brightness(50%);
    }
}